<strong> Hello, {{ deliveryman }}</strong>
<p>Unfortunately, a delivery has been canceled. Check below for more details:</p>
<p>
  <strong>Delivery:</strong> <br />
  <strong>Product:</strong> {{ product }} <br />
  <strong>Description:</strong> {{ description }} <br />
</p>
